<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Url</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kitty of kittys">
          <td>{{ kitty.id }}</td>
          <td>{{ kitty.name }}</td>
          <td><a href="{{ kitty.url }}">{{ kitty.url }}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>